#nav4 #services{
    color: gray;
}

#s1{
    background-image: url(../images/desktop/apartment.png);
    background-repeat: no-repeat;
    width:1280px;
    height:511px;
    margin-top:-12px;
}

#s1 h3{
    color:white;
    font-size:35px;
    text-shadow: 2px 2px 4px #000000;
    border:4px solid white;
    width:235px;
    padding:4px;
    position:relative;
    top:220px;
    left:500px;
}

.flex img, .flex1 img{
    width:330px;
    height:250px;
}

#s2{
    display:flex;
    justify-content: space-around;
    margin-top: 80px;
}

#s2 h4{
    text-align:center;
    font-size:22px;
    color:white;
    text-shadow: 2px 2px 4px #000000;
    position:relative;
    bottom:170px;
}

.flex:hover img, .flex1:hover img{
    opacity:0.4;
}

#s3{
    display:flex;
    justify-content: space-around;
}

#s3 h4{
    text-align:center;
    font-size:22px;
    color:white;
    text-shadow: 2px 2px 4px #000000;
    position:relative;
    bottom:170px;
}
